# ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-contrib-configmap
data:
  splunk_trace_url: "https://ingest.${realm}.signalfx.com/v2/trace/otlp"
  splunk_api_url: "https://api.${realm}.signalfx.com"
  splunk_ingest_url: "https://ingest.${realm}.signalfx.com"
  splunk_hec_url: "http://${fqdn}:8088/services/collector/event"
  splunk_index: "${index}"
  k8s_cluster_name: "${cluster_name}"
  deployment_environment: "${environment}"
---
# Secrets
apiVersion: v1
kind: Secret
metadata:
  name: otel-contrib-collector
  namespace: default
  labels:
    app.kubernetes.io/name: otel-collector
    app: otel-collector
type: Opaque
stringData:
  splunk_observability_access_token: ${access_token}
  splunk_hec_token: ${hec_token}
